* {
/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
margin: 0;
padding: 0;
}

body {
    background-color: beige;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

header h1 {

}

header nav {

}

main {
 margin: 20px;
 padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section h2 {
    flex: 0 0 20%;
}

section div {
    flex: 0 0 75%;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item{
    border: 3px solid black;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    background-color: pink;
    background-size: cover;
    background-position: center;
    margin: 5px;
}

.nell {
    flex-basis: 100%;
    background-image: url(./assets/images/trees.png);
    min-height: 400px;
}

/* 
section {
    height: 400px;
    width: 300px;
    margin: 30px;
    border: 5px solid black
}
.display-inline a {
    display: flex; 
    color: black;
    align-items: center;
    float: right;
    padding: 10px 20px;
}
.about-me {
    width: 100%;
    border: 5px solid darkblue;
    background-color: lightblue;
}
.work {
    width: 100%;
    border: 5px solid darkblue;
    background-color: lightblue;
}
.contact-me {
    width: 100%;
    border: 5px solid darkblue;
    background-color: lightblue;
}
.box {
    height: 100px;
    width: 200px
} */
