* {
margin: 0;
padding: 0;
}

body {
    background-color: beige;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

header h1 {
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-shadow: 4px 4px 5px whitesmoke; this isn't working*/
}

header nav a {
    display: inline-block;
    margin-right: 15px;
    justify-content: space-around;
    text-decoration: none; 
}

main {
 margin: 20px;
 padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section h2 {
    flex: 0 0 20%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

section div {
    flex: 0 0 75%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

section h2 {
    padding-top: 20px;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item{
    border: 3px solid black;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    background-color: pink;
    background-size: cover;
    background-position: center;
    margin: 5px;
    flex: 0 0 1; 
}

.one {
    flex-basis: 100%;
    background-image: url(./assets/images/pattern-1.png);
    min-height: 400px;
    border-radius: 40px;
    box-shadow: 5px 5px 40px grey;
    /* how do i get text to go on top of an image? */
    /* include code-refactor project in here */
}

.two {
    background-image: url(./assets/images/pattern-2.png);
    min-height: 200px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px grey;

}

.three {
    background-image: url(./assets/images/pattern-3.jpg);
    min-height: 200px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px grey;
}

.four {
    background-image: url(./assets/images/pattern-4.jpg);
    min-height: 200px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px grey;
}

.five{
    background-image: url(./assets/images/pattern-5.png);
    min-height: 200px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px grey;

}

@media screen and (max-width: 992px) {
    .item {
        flex-basis: 100%;
    }
}

/* 
section {
    height: 400px;
    width: 300px;
    margin: 30px;
    border: 5px solid black
}
.display-inline a {
    display: flex; 
    color: black;
    align-items: center;
    float: right;
    padding: 10px 20px;
}
.about-me {
    width: 100%;
    border: 5px solid darkblue;
    background-color: lightblue;
}
.work {
    width: 100%;
    border: 5px solid darkblue;
    background-color: lightblue;
}
.contact-me {
    width: 100%;
    border: 5px solid darkblue;
    background-color: lightblue;
}
.box {
    height: 100px;
    width: 200px
} */
