* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    background-color: beige;
}
section {
    height: 400px;
    width: 300px;
    margin: 30px;
    border: 5px solid black
}
.display-inline {
    color: aquamarine;
    display: inline; 
}
.about-me {
    width: 100%;
    border: 5px solid darkblue;
    background-color: lightblue;
}
.work {
    width: 100%;
    border: 5px solid darkblue;
    background-color: lightblue;
}
.contact-me {
    width: 100%;
    border: 5px solid darkblue;
    background-color: lightblue;
}
