* {
margin: 0;
padding: 0;
}

body {
    background-color: beige;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

header h1 {
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 4px 5px lightblue; 
}
h1::after{
    content: " PORTFOLIO 🗂️";
    font-size: 68px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 4px 5px lightblue; 
}
h1::before{
    content: "🗂️ ";
    font-size: 68px;
}

main {
 margin: 20px;
 padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

section h2 {
    flex: 0 0 20%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 20px;
}

section div {
    flex: 0 0 75%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border: 2px solid black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item{
    border: 3px solid black;
    min-height: 200px;
    max-height: 200px;
    flex-basis: calc(50% - 1em);
    background-color: pink;
    background-size: cover;
    background-position: center;
    margin: 5px;
    flex: 0 0 1; 
    border-radius: 50px;
    box-shadow: 5px 5px 20px grey;
}

.one {
    flex-basis: 100%;
    background-image: url(../images/pattern-1.png);
    min-height: 400px;
    /* how do i get text to go on top of an image? */
    /* include code-refactor project in here */
}

.two {
    background-image: url(../images/pattern-2.png);

    

}

.three {
    background-image: url(../images/pattern-3.jpg);
   
}

.four {
    background-image: url(../images/pattern-4.jpg);
   
}

.five{
    background-image: url(../images/pattern-5.png);
   

}
.button {
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    justify-content: space-around;
    text-decoration: none; 
    border: 2px solid black;
    color: grey;
}

.button:hover{
    background-color: white;
    color:black
}

@media screen and (max-width: 992px) {
    .item {
        flex-basis: 100%;
    }
}